.navbar{
    width: 100%;
    display: flex;
    background-color: beige;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
.logo-container img{
    position: relative;
    width: 700px;
    height: 100px;
}
.mini-logo{
    display: none;
    opacity: 0;
}

/* navigation select styles */
button{
    cursor: pointer;
}
.select{
    position: relative;
    display: block;
    font-size: 22px;
    z-index: 100;
    
}
.select-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 22px;
    font-family: 'Pangolin', cursive;
}
.select-icon {
    transition: transform 175ms;
    vertical-align: middle;
    font-size: 16px;
}
.select-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 6px;
    background-color: beige;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.075);
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -150px;
   
}
  
.select-active .select-dropdown {
    transform: scaleY(1);
}
  
.select-active .select-icon {
    transform: rotate(180deg);
}

/* hover style */
.hover{
    position: absolute;
    background-color: rgb(231, 231, 182);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    clip-path: circle(5.3% at 10% 6%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
    margin-top: -35px;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover:hover{
    clip-path: circle(75%);
    background-color: rgb(235, 235, 185);
}

.hover p{
    margin-top: 10px;
    color: rgba(32, 31, 29);
    font-size: 1rem;
    width: 90%;
    text-align: center;
    font-family: 'Pangolin', cursive;
    margin-bottom: 15px;
}
.hover h1{
    font-size: 1.5rem;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
}
.hover span{ 
    color: rgba(32, 31, 29);
    font-weight: 500;
    font-size: 2rem;
    transition: color 1s;
    position: absolute;
    margin-top: 3px;
    margin-left: -256px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hover:hover span{
    visibility: hidden;
}

/* responsive */
@media (max-width: 1120px){
    .navbar{
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        
    }
    .logo-container{
        position: relative;
    }
    .select{
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 13px;
    }
}

@media (max-width: 845px){
    .navbar{
        justify-content: space-between;
    }
    .logo-container{
        display: none;
        opacity: 0;
        object-fit: none;
    }
    .mini-logo{
        position: relative;
        display: flex;
        height: 100px;
        opacity: 1;
        margin-left: 50px;
    }
    .hover{
        margin-left: -10px;
    }
}
@media (max-width: 670px){
    .navbar{
        height: 60px;
        
    }
    .mini-logo{
        height: 60px;
    }
    .select{
        margin-bottom: 0;
    }
}
@media(max-width: 470px){
    .hover{
        margin-left: -16px;
    }
}