.navbar{
    width: 100%;
    display: flex;
    background-color: beige;
    height: 100px;
}
.logo{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    object-fit: contain;
    width: 700px;
    height: 100px;
}/* navigation select styles */
button{
    cursor: pointer;
}
.select{
    position: relative;
    display: block;
    margin-top: 20px;
    font-size: 22px;
    margin-left: 81%;
    
}
.select-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 22px;
    font-family: 'Pangolin', cursive;
}
.select-icon {
    transition: transform 175ms;
    vertical-align: middle;
    font-size: 16px;
}
.select-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 6px;
    background-color: beige;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.075);
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -150px;
   
}
  
.select-active .select-dropdown {
    transform: scaleY(1);
}
  
.select-active .select-icon {
    transform: rotate(180deg);
}