.password-container{
  display: flex;
  border-radius: 5px;
  width: 199px;
  margin: 0 auto;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.password-input{
  background-color: beige;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 140px;
}
.password-input:focus{
  outline: none;
}
.password-container > .password-hide{
  padding: 0;
  margin: 0;
  background-color: beige;
  box-shadow: initial;
  width: auto;
  height: auto;
  font-size: 18px;
}
.password-container:focus-within {
  border: solid black 2px;
  margin-top: -2px;
  margin-bottom: 3px;
  box-shadow: initial;
}