/* google and facebook sign in */
.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign-in h1{
    font-family: 'Pangolin', cursive;
    margin-bottom: 20px;
    font-size: 30px;
}
.sign-in button{
    display: flex;
    align-self: middle;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    text-align: center;
    align-items: center;
    font-family:sans-serif;
    font-weight: bold;
    background-color: beige;
    cursor: pointer;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.sign-in button:not(.password-hide):hover{
    background-color: rgb(219, 219, 187);
}
.sign-in button span{
    margin-left: 5px;
}
.google-button{
    padding-right: 15px;
}
.facebook-button{
    margin-top: 5px;
}
.facebook-button svg{
    color: #3b5998;
}
/* sign in with email css */
.sign-in-email-container{
    width: 202px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 0.5px solid rgb(204, 200, 200);
}
.sign-in-email{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: beige;
    font-family:sans-serif;
    margin-bottom: 5px;
}
.sign-in-password{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: beige;
    font-family:sans-serif;
    margin-bottom: 5px;
}
.sign-in-email-container .sign-in-email-btn{
    padding: 0;
    width: 120px;
    display: inline-block;
    margin-bottom: 10px;
}
.or{
    margin-top: 15px;
    width: 100%;
    border-bottom: 0.5px solid rgb(204, 200, 200);
}
.or p{
    margin-top: -8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 90px;
    position: absolute;
    background-color: beige;
    font-family:sans-serif;   
}
.sign-in .register-btn{
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    width: 120px;
    display: inline-block;
    text-align: center;
    
}
.alert-message{
    color: red;
    font-family:sans-serif; 
}
@media (max-width: 1120px){
    
}
