/* Balance container */
.balance-card{
    font-family: 'Pangolin', cursive;
    width: 1010px;
    height: 200px;
    background-color: aqua;
    padding: 20px;
    box-shadow: rgba(31, 30, 30, 1) 6px 6px;
}
.balance-title{
    border-bottom: 2px solid black;
    text-align: center;
}
.inner-balance{
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.encourage-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93%;
    margin-top: -35px;
    font-size: 26px;
}
.encourage-text p{
    line-height: 34px;
    letter-spacing: 0.5px;
}
.encourage-text p span{
    font-weight: 600;
}
