.e-achievement-container{
    font-family: 'Pangolin', cursive;
    width: 500px;
    min-width: 400px;
    margin-right: 10px;
    height: 500px;
    padding: 20px;
    box-shadow: rgba(31, 30, 30, 1) 6px 6px;
    background-color: rgb(185, 4, 185);
}
.e-achievement-title{
    padding-bottom: 3px;
    width: 100%;
    border-bottom: 2px solid black;
    text-align: center;
}