.p-achievement-container{
    font-family: 'Pangolin', cursive;
    max-width: 1100px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(31, 30, 30, 1) 6px 6px;
    background-color: rgb(240, 240, 22);
}
.p-achievement-title{
    padding-bottom: 3px;
    width: 96%;
    border-bottom: 2px solid black;
    text-align: center;
}
/* coming soon animation */
.p-coming-soon
{   
    font-weight: 700;
    text-align: center;
    font-size: 70px;
    margin-top: 5%;
    text-transform: uppercase;
    background: linear-gradient(90deg, #a2bd0a, #eaee09, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }





/* responsive */
@media(max-width: 530px){
    .p-coming-soon{
        margin-top: 15%;
        font-size: 40px;
    }
}
@media(max-width: 430px){
    .p-achievement-container{
        box-shadow: none;
    }
    .p-achievement-title{
        font-size: 24px;
    }
}